*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica';
    scroll-behavior: smooth;
}

.content .triple-box {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: 40px;
}
.content {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
.content .box{
    height: 610px; 
    width: 340px;
    margin: 60px;
    border: 15px solid #fff;
    border-radius: 5%;
    background-color: #fff;
    box-shadow: 0 5px 35px rgba(0,0,0,0.08);
}
.content .imgBox{
    border-radius: 5%;
    position: relative;
    width: 100%;
    height: 300px;
}
.content .imgBox img{
    border-radius: 5%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content .text{
    padding: 15px 0 5px;
    text-align: center;
}
.content .text .price{
    margin-top: 5%;
    color: grey;
    font-size: 22px;      
}
.content .text .information {
    height: 90px;
    margin-top: 3%;
    margin-bottom: 3%;
}
.content .text .p1{
    margin-top: -5%;
}
.content .text button {
    margin-top: 1%;
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #89b0ae;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
.content .text button:hover {
    opacity: 0.7;
}
.content .text h3{
    font-weight: 400;
    color: #111;
}
header{
    position: fixed;  
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    z-index: 100000 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    background-color: #212121;
    opacity: 0.7;
}
header .logo{
    background-image: linear-gradient(to right,#89b0ae,#89b0a0,#8995b0,#876ba0);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;

   /* color: #bbca69;  */
   font-weight: 700;
   font-size: 2em;
   text-decoration: none;
}

header .navigation{
    position: relative;
    right: 40px;
    display: flex;
}
header .navigation li{
    list-style: none;
    margin-left: 30px;
}
header .navigation li a{
    color:#fff;
    font-weight: 300;
    text-decoration: none;
    font-size: 17px;
}
header .navigation li a:hover{
    color: rgb(47, 68, 45);
}
.no-res{
    text-align: center;
    margin-top: 300px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}
.submit-btn{
    width: 7%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: #eaefd2;
    border: 0;
    outline: none;
    border-radius: 30px;
}
.submit-btn:hover{
    background-color: rgb(185, 179, 179);
}

@media (max-width: 991px){
    
    header,
    header.sticky{
        padding: 10px 20px;
    }
    header .navigation{
        display: none;
       color:#fff;
       background-color: #616161;
    }
    header .navigation.active{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 60px;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        opacity: 0.99;
    }
   header .navigation li {
       padding: 10px;
   }

    header .navigation li a{
        margin-left: 0;
        text-decoration: none;
        color: #fff;
        font-size: 1.6em;
        font-weight: 300;
    }
    header.sticky .navigation li a{
        color: #fff;
    }
    .menuToggle{
        position: relative;
        width: 40px;
        height: 40px;
        background: url(/img/bars-solid.svg);
        background-size: 40px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    .menuToggle.active{
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }
    header.sticky .menuToggle{
        filter:invert(1)
    }
}