*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica';
    scroll-behavior: smooth;
}
p
{
    font-weight: 300;
    color:#111;
}
.banner
{   /*that the main baner with the picture*/
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/img/free3.jpg),#212121;
    opacity: 0.7;
    /*paralax*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner .content
{ /*that is for all texts in class banner/ class content*/
    max-width: 900px;
    text-align: center;
    opacity: 1;
}
.banner .content h2
{/*that is just for h2 texts in class banner/ class content*/
    font-size: 5em;
    color:#000;
    text-shadow: 4px 1px 6px #fff;
}
.banner .content p
{/*that is just for p texts in class banner/ class content*/
    font-size: 1.4em;
    font-weight: 700;
    /* text-shadow: 1px 1px; */
    color: #000;
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
    text-shadow: 4px 1px 6px #fff;
}
.btn
{  /*that is for the product button */
    right:50%;
    font-size: 1em;
    color: #fff;
    background: #89b0a0;
    opacity: 0.6;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s; /*animation*/
    border-radius: 12px;
    border: none;
}
.btn:hover
{
    letter-spacing: 6px;
    background-color: #555;
}
.btnp
{  /*that is for the product button */
    right:50%;
    font-size: 1em;
    color: #fff;
    background: #876ba0;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s; /*animation*/
    border-radius: 12px;
    border: none;
}
.btnp:hover
{
    letter-spacing: 6px;
    background-color: #555;
}
header
{
    position: fixed;  
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 100000 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
header.sticky
{ /*this makes the menus sticky (home, about ...)*/
    background: #212121 ;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
    opacity: 0.7;
}
header .logo
{
    background-image: linear-gradient(to right,#89b0ae,#89b0a0,#8995b0,#876ba0);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;

   /* color: #bbca69;  */
   font-weight: 700;
   font-size: 2em;
   text-decoration: none;
}
header.sticky .logo
{ /*change the logo when the menus change*/
    background-image: linear-gradient(to right,#89b0ae,#89b0a0,#8995b0,#876ba0);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}
header .navigation
{
    position: relative;
    right: 40px;
    display: flex;
}
header .navigation li
{
    list-style: none;
    margin-left: 30px;
}
header .navigation li a
{
    color:#000;
    font-weight: 300;
    text-decoration: none;
    font-size: 17px;
}
header.sticky .navigation li a
{
    color: #fff;
}
header .navigation li a:hover
{
    color: rgb(47, 68, 45);
}
header .search
{
    font-size: 15px;
    background: #fff;
    padding: 5px;
    text-decoration: none;
    border-radius: 12px;
    border: none;
    outline: none;
    cursor: pointer;
}
header .search_btn
{
    font-size: 15px;
    margin-left: 4px;
    color: #fff;
    background: #555;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    display: inline-block;
    letter-spacing: 1px;
    transition: 0.5s; /*animation*/
} 
header .search_btn:hover
{
    letter-spacing: 2px;
    background: #876ba0;
}

section
{
    padding: 100px;
}
.about 
{
    /* height: 87vh; */
    width: 100%;
}
.row
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.row .col50
{
    top: 60px;
    position: relative;
    width: 44%;
}
.row .col50 p
{
    font-size: 1.2em;
}
.titleText
{
    color:#111;
    font-size: 2em;
    font-weight: 300;
}
.titleText span
{
    color:#89b0a0;
    font-weight: 700;
    font-size: 1.5em;
}
.row .col50 .imgBox
{
    position: inherit;
    width: 100%;
    height: 100%;
}
.row .col50 .imgBox img
{
    border-radius: 5%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.title
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#product
{
    width: 100%;
    margin-bottom: 20%;
}
.product .title p
{
    font-size: 1.2em;
}
.product .content .triple-box
{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: 40px;
}
.product .content
{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
.product .content .box
{
    height: 610px; 
    width: 340px;
    margin: 20px;
    border: 15px solid #fff;
    border-radius: 5%;
    background-color: #fff;
    box-shadow: 0 5px 35px rgba(0,0,0,0.08);
}
.product .content .imgBox
{
    border-radius: 5%;
    position: relative;
    width: 100%;
    height: 300px;
}
.product .content .imgBox img
{
    border-radius: 5%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product .content .text
{
    padding: 15px 0 5px;
    text-align: center;
}
.product .content .text .price
{
    margin-top: 5%;
    color: grey;
    font-size: 22px;      
}
.product .content .text .information
{
    height: 90px;
    margin-top: 3%;
    margin-bottom: 3%;
}
.product .content .text .p1
{
    margin-top: -5%;
}
.product .content .text button
{
    margin-top: 1%;
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #89b0ae;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
.product .content .text button:hover
{
    opacity: 0.7;
}
.product .content .text h3
{
    font-weight: 400;
    color: #111;
}
.contact
{
    margin-top: -20%;
    background-color: #d0d6e5;
    background-size: cover;
}
.contact .titleText span
{
    color: #111;
}
.contactForm
{
    padding: 75px 50px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0,0,0,0.1);
    max-width: 100%;
    margin-top:50px;
}
.contactForm h3
{
    color: #111;
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: 500;
}
.contactForm .inputBox
{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea
{
    width: 100%;
    bottom: 1px solid #555;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;
}

.contactForm .inputBox input[type="submit"]
{
    font-size: 1em;
    color: #fff;
    background: #876ba0;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    max-width: 100px;
    font-weight: 500;
    border:none;
    cursor: pointer;
}

.copyrightText
{
    padding: 8px 40px;
    border-top: 1px solid rgba(0,0,0,0.1);
    text-align: center;
}
.copyrightText h5
{
    font-weight: 300;
    color: #333;
}
.copyrightText a
{
    color: #876ba0;
    font-weight: 700;
    text-decoration: none;
}
footer
{
    text-align: center;
    background-color: #d0d6e5;
    color: white;
}
fieldset
{
    margin: 1%;
}
.fot
{
    padding: 15px;
}
.fa 
{
    padding: 6px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}
  
.fa:hover {
    opacity: 0.7;
}
.fa-instagram {
    color: black;
}

/* media */

@media (max-width: 991px)
{    
    header,
    header.sticky
    {
        padding: 10px 20px;
    }
    header .navigation
    {
        display: none;
        color:#fff;
        background-color: #616161;
    }
    header .navigation.active
    {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 60px;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        opacity: 0.8;
    }
    header .navigation li 
    {
       padding: 10px;
    }

    header .navigation li a
    {
        margin-left: 0;
        text-decoration: none;
        color: #fff;
        font-size: 1.6em;
        font-weight: 300;
    }
    header.sticky .navigation li a
    {
        color: #fff;
    }
    .menuToggle
    {
        position: relative;
        width: 40px;
        height: 40px;
        background: url(/img/bars-solid.svg);
        background-size: 40px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    .menuToggle.active
    {
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }
    header.sticky .menuToggle
    {
        filter:invert(1)
    }
    section
    {
        padding: 20px;
    }
    .banner .content h2
    {
        font-size: 2.2em;
    }
    .row
    {
        flex-direction: column;
    }
    #about
    {
        margin-bottom: 150px;
    }
    .row .col50
    {
        position: relative;
        width: 100%;
    }
    .row .col50 .imgBox
    {
        position: relative;
        height: 250px;
        margin-top: 20px;
    }
    .product .content
    {
        margin-top: 20px;
    }
    .product .content .box
    {
        margin: 10px;
    }
    .product .content .box .imgBox
    {
        height: 260px;
    }
    #product
    {
        margin-bottom: 150px;
    }
    .title
    {
        text-align: center;
    }
    .titleText
    {
        font-size: 1.8em;
        line-height: 1.5em;
        margin-bottom: 15px;
        font-weight: 300;
    }
    .contactForm
    {
        padding: 35px 40px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
}