
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica';
    scroll-behavior: smooth;
}

p{
    font-weight: 300;
    color:#111;
}
.banner{   /*that the main baner with the picture*/
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(img/Fennel_2.jpg);
    background-size: cover;
}
.banner .content{ /*that is for all texts in class banner/ class content*/
    max-width: 900px;
    text-align: center;
}
.banner .content h2{/*that is just for h2 texts in class banner/ class content*/
    font-size: 5em;
    color:#fff;
}
.banner .content p{/*that is just for p texts in class banner/ class content*/
    font-size: 1.4em;
    color: #fff;
}
.btn{  /*that is for the product button */
    font-size: 1em;
    color: #fff;
    background: #bbca69;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s; /*animation*/
}
.btn :hover{
    letter-spacing: 6px;
/*it's not working*/
}
header{
    position: fixed;  
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 100000 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
header.sticky{ /*this makes the menus sticky (home, about ...)*/
    background: #bbca69 ;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}
header .logo{
   color: #bbca69; 
   font-weight: 700;
   font-size: 2em;
   text-decoration: none;
}
header.sticky .logo{ /*change the logo when the menus change*/
    color: #111;
}
header .logo span{
    color: #ff0157;
}
header .navigation{
    position: relative;
    right: 40px;
    display: flex;
}
header .navigation li{
    list-style: none;
    margin-left: 30px;
}
header .navigation li a{
    color:#fff;
    font-weight: 300;
    text-decoration: none;
}
header.sticky .navigation li a{
    color: #111;
}
header .navigation li a:hover{
    color: rgb(47, 68, 45);
}

  /* The container <div> - needed to position the dropdown content */
header .navigation .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  header .navigation .dropdown-content {
    display: none;
    position: absolute;
    background-color: #bbca69;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  header .navigation .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  header .navigation .dropdown-content a:hover {opacity: 2;}
  
  /* Show the dropdown menu on hover */
  header .navigation .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
 

section{
    padding: 100px;
}

.about {
    height: 87vh;
    width: 95vw;
}

.row{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.row .col50{
    top: 90px;
    position: relative;
    width: 44%;
}
.row .col50 p{
    font-size: 1.2em;
 }

.titleText{
    position: inherit;
    color:#111;
    font-size: 2em;
    font-weight: 300;
    
}
.titleText span{
    color:#bbca69;
    font-weight: 700;
    font-size: 1.5em;
}
/*
.row .col50 .box{
    width: 100%;
    height: 100%; /*margin: 20px;*/
 /*   border: 10px solid #fff;
    box-shadow: 0 5px 35px rgba(0,0,0,0.1);
    }
    */
.row .col50 .imgBox{
    position: inherit;
    width: 100%;
   /* min-height: 300px;*/
    height: 100%;
}
.row .col50 .imgBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   /* top: -70px;
    left: 100px;
    width: 5000px;
    height: 350px;
    */
    object-fit: cover;
}
.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#product{
    margin-bottom: 15%;
}
.product{
    width: 95vw;
    height: 100vh;
}
.product .title p{
    font-size: 1.2em;
}
.product .content{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: 40px;
}
.product .content .box{
    height: 580px; 
    width: 340px;
    margin: 20px;
    border: 15px solid #fff;
    box-shadow: 0 5px 35px rgba(0,0,0,0.08);
}
.product .content .box .imgBox{
    position: relative;
    width: 100%;
    height: 300px;
}
.product .content .box .imgBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product .content .box .text{
    padding: 15px 0 5px;
    text-align: center;
}
.product .content .box .text .price{
    margin-top: 5%;
    color: grey;
    font-size: 22px;      
}
.product .content .box .text .information {
    margin-top: 5%;
}
.product .content .box .text button {
    margin-top: 15%;
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #bbca69;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
.product .content .box .text button:hover {
    opacity: 0.7;
}
.product .content .box .text h3{
    font-weight: 400;
    color: #111;
}

.contact{
    background: url(img/solid1.png);
    background-size: cover;
}
.contact .titleText span{
    color: #111;
}
.contactForm{
    padding: 75px 50px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0,0,0,0.1);
    max-width: 100%;
    margin-top:50px;
}
.contactForm h3{
    color: #111;
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: 500;
}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea{
    width: 100%;
    bottom: 1px solid #555;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;
}

.contactForm .inputBox input[type="submit"]{
    font-size: 1em;
    color: #fff;
    background: #ff0157;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    max-width: 100px;
    font-weight: 500;
    border:none;
    cursor: pointer;
}

.copyrightText{
    padding: 8px 40px;
    border-top: 1px solid rgba(0,0,0,0.1);
    text-align: center;
}
.copyrightText p{
    color: #333;
}
.copyrightText a{
    color: #bbca69;
    font-weight: 700;
    text-decoration: none;
}


@media (max-width: 991px){
    
    header,
    header.sticky{
        padding: 10px 20px;
    }
    header .navigation{
        display: none;
       /* color: #111;*/
       color:#fff;
    }
    header .navigation.active{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 60px;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: url(img/Fennel_1.jpg);
        opacity: 0.925;
    }
   header .navigation li {
       padding: 10px;
   }

    header .navigation li a{
        margin-left: 0;
        text-decoration: none;
        color: #fff;
        font-size: 1.6em;
        font-weight: 300;
    }
    header.sticky .navigation li a{
        color: #fff;
    }
    .menuToggle{
        position: relative;
        width: 40px;
        height: 40px;
        background: url(img/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    .menuToggle.active{
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }
    header.sticky .menuToggle{
        filter:invert(1)
    }
    section{
        padding: 20px;
    }
    .banner .content h2{
        font-size: 3em;
        color: #fff;
    }
    .row{
        flex-direction: column;
    }
    #about{
        margin-bottom: 100px;
    }
    .row .col50{
        position: relative;
        width: 100%;
    }
    .row .col50 .imgBox{
        position: relative;
        height: 250px;
        margin-top: 20px;
    }
    .product .content{
        margin-top: 20px;
    }
    .product .content .box{
        margin: 10px;
    }
    .product .content .box .imgBox{
        height: 260px;
    }
    #product {
        margin-bottom: 500px;
    }
    .title{
        text-align: center;
    }
    .titleText{
        font-size: 1.8em;
        line-height: 1.5em;
        margin-bottom: 15px;
        font-weight: 300;
    }
    .contactForm{
        padding: 35px 40px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
} 


@media (max-width: 800px){
    .banner .content h2{
        font-size: 2.2em;
        color: #fff;
    }
    #product {
        margin-bottom: 500px;
    }
    #about{
        margin-bottom: 250px;
    }
}
/*
@media (max-width: 1368px){
    #product {
        margin-bottom: 300px;
    }
    #about{
        margin-bottom: 50px;
    }
    .row .col50 .imgBox{
        height: 400px;
        margin-top: 20px;
    }
} */